@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

html{
    background-color: none;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

body{
    background: url(https://wallpaperaccess.com/full/826922.jpg) center / cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

.logo{
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0,0,0,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    vertical-align: middle;
    padding: 12px 16px;
    margin: 0 8px;
    top: 0;
    color: white;
    transition: all .2s;
}

.logo a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo i{
    vertical-align: middle;
    text-decoration: none;
    font-size: xx-large;
    background-image: linear-gradient(315deg, #17f9f2 40%, #b0f9a9 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 200ms ease-in;
    border-radius: 50%;
    padding-right: 10px;
    position: relative;
}

.logo:hover{
    background: white;
    font-weight: bold;
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.1);
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

.logo a:hover{
    color: black;
}

.menu-bar{
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0,0,0,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
}

.menu-bar li{
    list-style: none;
    color: white;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s;
}

.menu-bar li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-bar li:hover{
    background: white;
    font-weight: bolder;
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
    color: black;
    border-radius: 25px;
}

.menu-bar a:hover{
    color: black;
    font-weight: bolder;
}

.btn-primary {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #2563EB;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
  
.btn-primary:hover {
    background: #1D4ED8;
}

/*Main Content Starts*/

.container{
    color: white;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	height: fit-content;
    text-align: center;
}

.container table, tr, td{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

@media only screen and (max-width: 950px) {
    .container table, tr, td{
        display: block;
    }
}

.container h1{
    font-size: 3.5rem;
    background-image: linear-gradient(315deg, #17f9f2 40%, #b0f9a9 74%);
    /*background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h2{
    font-size: 2.5rem;
    background-image: linear-gradient(315deg, #17f9f2 40%, #b0f9a9 74%);
    /*background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container p{
    font-size: x-large;
}

.container img{
    max-width: 950px;
    max-height: 950px;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 950px){
    .container img{
        display: block;
    }
}

.container img:hover{
    transform: scale(1.05);
}

.recipe-list{
    justify-content: center;
}

.recipe-card{
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 200ms ease-in;
}

.recipe-card:hover{
    transform: scale(1.05);
}

.recipe-card img{
    border-radius: 25px;
}

/*
@media only screen and (max-width: 1434px){
    .recipe-list, .recipe-card, .recipe-card img{
        display: block;
        justify-content: center;
        width: 80%;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

.recipe-card img:hover{
    transform: scale(1);
}

.contact-us{
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	height: fit-content;
    text-align: center;
}

.contact-us h2{
    font-size: 2.5rem;
    background-image: linear-gradient(315deg, #fffb00 40%, #ff00ff 74%);
    /*background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-us h3{
    font-size: 1.5rem;
    color: white;
}

.contact-item{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
    line-height: 1.8rem;
    margin-bottom: 5px;
    border-radius: 25px;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 200ms ease-in;
}

.contact-item img{
    border-radius: 50%;
    padding-top: 10px;
    width: 100px;
    height: 110px;
}

.contact-item p{
    color: black;
    font-weight: bold; 
    background: linear-gradient(315deg, #17f9f2 40%, #b0f9a9 74%); 
    width: fit-content; 
    padding: 3px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px;
}

.contact-item:hover{
    transform: scale(1.05);
}

/*Map CSS*/

.map{
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	height: fit-content;
    text-align: center;
    padding-bottom: 25px;
}

.map img{
    border-radius: 25px;
}

.map h1{
    font-size: 3.5rem;
    background-image: linear-gradient(315deg, #17f9f2 40%, #b0f9a9 74%);
    /*background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cusine-map iframe{
    border: transparent;
    background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 25px; 
    height: 500px;
    vertical-align: middle;
    width: fit-content;
}

@media only screen and (max-width: 950px){
    .map td{
        display: block;
    }
}

/* Search Bar */

form{
    position: relative;
    transition: all 1s;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

#hide{
    display: none;
}

#show{
    visibility: visible;
}

.search_result_recipe{
    display: inline-block;
}